<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <section class="bg-gray-900 text-white">
        <div
          class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
        >
          <div class="mx-auto max-w-lg text-center">
            <h2 class="text-3xl font-bold sm:text-4xl">Connect wallet</h2>
            <br>
            <h3 class="text-2xl font-bold sm:text-3xl">How it works?</h3>
            <p class="mt-4 text-gray-300">
                Multiple iOS and Android wallets support the WalletConnect protocol. Interaction between mobile apps and mobile browsers are supported via mobile deep linking
            </p>
          </div>
      
          <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/trust.png" alt="">
      
              <h2 class="mt-4 text-xl font-bold text-white">Trust Wallet</h2>
      
              
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/safemoon.jpg" alt="">
      
              <h2 class="mt-4 text-xl font-bold text-white">Safemoon</h2>
      
              
            
            </a>
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/ethereum-classic.png" alt="">
              <h2 class="mt-4 text-xl font-bold text-white">Ethereum</h2>
      
              
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/authereum.png" alt="">
      
              <h2 class="mt-4 text-xl font-bold text-white">Authereum</h2>
      
              
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/metamask.png" alt="">
      
              <h2 class="mt-4 text-xl font-bold text-white">Meta Mask</h2>
      
             
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/iotex.png" alt="">
              <h2 class="mt-4 text-xl font-bold text-white">Iotex</h2>
      
             
            </a>
          </div>
      
         
        </div>
     
        <div
          class="mx-auto max-w-screen-xl px-4 py-8 sm:py-12 sm:px-6 lg:py-16 lg:px-8"
        >
         
      
          <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
             <img src="../static/images/aion.png" alt="" srcset="">
      
              <h2 class="mt-4 text-xl font-bold text-white">Aion</h2>
      
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/bitkeep.png" alt="" srcset="">

      
              <h2 class="mt-4 text-xl font-bold text-white">BitKeep</h2>
      
             
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/digitex.png" alt="" srcset="">

      
              <h2 class="mt-4 text-xl font-bold text-white">Digitex</h2>
      
            
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/coinomi.png" alt="" srcset="">

              <h2 class="mt-4 text-xl font-bold text-white">Coinomi</h2>
      
           
            </a>
      
            <a
            class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
            href="/form1.html"
          >
            <img src="../static/images/enji.png" alt="" srcset="">

      
              <h2 class="mt-4 text-xl font-bold text-white">Enji</h2>
      
           
            </a>
      
            <a
              class="block rounded-xl border border-gray-800 p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10"
              href="/form1.html"
            >
            <img src="../static/images/exodus.png" alt="" srcset="">

      
              <h2 class="mt-4 text-xl font-bold text-white">Exodus</h2>
      
             
            </a>
          </div>
      
          
        </div>
      </section>


      <div class="btn-group grid grid-cols-2">
        <button href="" class="btn btn-outline">Previous page</button>
        <button href="" class="btn btn-outline">Next</button>
      </div>

      <style>
        img{
            width: 100%;
            height: 20rem;
            border-radius: 50px;
        }
        h2{
            text-align: center;
        }
        @media screen and (max-width: 990px) {
img{
    height: 15rem;
    width: 100%;
}
  }
  @media screen and (max-width: 360px) {
img{
    height: 15rem;
    width: 100%;
}
  }
      </style>
      
      
    
</body>
</html>